.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__menu-button {
  margin-right: -8px;
}

.header__menu {
  margin-top: 38px;
  position: absolute;
  right: 32px;
  left: 32px;
}
