.illustration {
  position: relative;
  width: 100%;
  height: 425px;
}

.illustration__shape {
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: var(--color-light-grayish-blue);
  border-bottom-left-radius: 60px;
}

.illustration__devices {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-image: url("@images/illustration-devices.svg");
  background-repeat: no-repeat;
  background-position: left top 126px;
  background-size: 516px auto;
}

@media screen and (min-width: 520px) {
  .illustration__devices {
    background-position: center top 126px;
  }
}

@media screen and (min-width: 768px) {
  .illustration {
    height: 492px;
  }

  .illustration__devices {
    background-size: 568px auto;
  }
}

@media screen and (min-width: 1174px) {
  .illustration {
    position: absolute;
    height: 675px;
  }
  .illustration__shape {
    height: 427px;
  }
  .illustration__devices {
    position: absolute;
    left: calc(50% + 57px);
    background-position: left bottom;
    background-size: 916px 455px;
  }
}
